@{
    ViewData["Title"] = "Recuperar Senha";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2 class="text-center">Recuperar Senha</h2>
<hr />
<form>
    <div class="form-group mb-4">
        <label for="email" class="mb-1 ms-2">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Digite o seu email">
    </div>
    <button type="submit" class="btn btn-primary mb-2 mt-1">Recuperar Senha</button>
</form>
